<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ut.module_lock">



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".activity.AddGuideActivity">
        </activity>
        <activity android:name=".activity.NearLockActivity">
        </activity>
        <activity android:name=".activity.SetNameActivity">
        </activity>
        <activity android:name=".activity.LockDetailActivity">
        </activity>
        <activity android:name=".activity.KeyInfoActivity"/>
        <activity android:name=".activity.KeysManagerActivity"/>
        <activity
            android:name=".activity.EditKeyNameActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".activity.EditLimitedTimeActivity"/>
        <activity android:name=".activity.OperationRecordAcitivity"/>
        <activity android:name=".activity.ApplyKeyActivity"/>
        <activity android:name=".activity.LockSettingActivity"/>
        <activity android:name=".activity.ChooseLockGroupActivity"/>
        <activity android:name=".activity.EditLoopKeyActivity"/>
        <activity android:name=".activity.SearchLockActivity">
        </activity>
    </application>

</manifest>