<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ut.base">

    <application>
        <activity android:name=".activity.SafeVerifyActivity" android:launchMode="singleInstance"/>
        <activity android:name=".activity.WebActivity" />
    </application>
</manifest>
