<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ut.base">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application>
        <receiver
            android:name=".push.UTCLReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.ut.cloudlock.remotelogin"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.SafeVerifyActivity"
            android:launchMode="singleInstance"/>
        <activity android:name=".activity.WebActivity"/>

        <service
            android:name=".AutoOpenLockService"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>